table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f3f3f3;
}

img {
    max-height: 80px;
}

