/* スピナーの表示 */
#lottie-spinner {
    width: 280px;
    height: 280px;
    margin: 0 auto 20px;
    display: block;
    overflow: hidden;
    /* border: 1px dashed  blue; */
    /* 位置確認用、あとで削除可 */
}

/* =========================
   スピナー：PC用アニメーション
========================= */
/* スピナーを小さくする */
.spinner-shrink {
    animation: shrinkSpinner 0.6s ease forwards;
    /* transform-origin: top center; */
    height: 140px;
    width: 140px;
    margin: 0 auto;
    transition: all 0.6s ease;
    /* ← 実際の高さも小さく */
}

@keyframes shrinkSpinner {
    from {
        transform: scale(1);
        height: 280px;
        width: 280px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    to {
        transform: scale(1);
        margin-top: 0;
        margin-bottom: 20px;
        height: 140px;
        width: 140px;
    }
}

/*拡大する*/
.spinner-expand {
    animation: expandSpinner 0.6s ease forwards;
}

@keyframes expandSpinner {
    from {
        transform: scale(1);
        width: 140px;
        height: 140px;
    }

    to {
        transform: scale(1);
        width: 280px;
        height: 280px;
    }
}

/* =========================
   スピナー：モバイル用アニメーション
========================= */
@media (max-width: 768px) {
    .spinner-disappear {
        animation: scaleOut 0.6s ease forwards;
    }

    .spinner-appear {
        animation: scaleIn 0.6s ease forwards;
    }

    @keyframes scaleOut {
        from {
            transform: scale(1);
            opacity: 1;
        }

        to {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes scaleIn {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    .result-reveal {
        animation: slideUp 0.6s ease forwards;
    }

    @keyframes slideUp {
        from {
            transform: translateY(20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}